.container{
    max-width: 80%;
    margin: 0;
    text-align: center;
    padding: 20px;
}

h1{
    font-size: 30px;
    color:#faf7fa
}

form{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

input[type="text"]{
    width: 300px;
    padding: 20px;  
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;

}


button{
    padding: 10px 20px;
    background-color: blueviolet;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
    transition: background-color 1s;
}

button:hover{
    background-color: indigo;
}

.movie-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap:30px;
    justify-content: center;
    padding: 20px 0;
}

.movie-card{
    background-color: rgb(21, 1, 34);
    padding: 20px;
    border-radius: 5%;
    box-shadow: 0 2px black;
    text-align: center;
    
}

.movie-card img{
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.movie-card h2{
    font-size: 10px;
    margin-bottom: 5px;
}

.movie-card p{
    font-size: 14px;
    color: #ccc;
}
